@using Microsoft.AspNetCore.Components.Authorization
<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">EcoMeal</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="nav flex-column">
		<div class="nav-item px-3">
			<AuthorizeView>
				<Authorized>
					<span class="nav-link">@context.User.Identity?.Name</span>
					<form method="post" action="/logout">
						<button type="submit" class="btn btn-outline-secondary">Log out</button>
					</form>
				</Authorized>
				<NotAuthorized>
					<div class="nav-item px-3">
						<NavLink href="/login" Match="NavLinkMatch.All">
							<Icon Size="IconSize.x3" class="bi inline-block padding-right:10px" Name="IconName.ArrowLeftSquareFill" />Log in
						</NavLink>
					</div>
				</NotAuthorized>
			</AuthorizeView>
		</div>
		<AuthorizeView>
			<Authorized>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
						<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="businesses">
						<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Businesses
					</NavLink>
				</div>

			</Authorized>
		</AuthorizeView>
		<AuthorizeView Roles="Admin">
			<Authorized>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="business_types">
						<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Business Types
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="package_types">
						<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Package Types
					</NavLink>
				</div>
			</Authorized>
		</AuthorizeView>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
