@using Microsoft.AspNetCore.Components.Authorization
@inject HttpClient http;
@inject NavigationManager nav;
<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">netrom</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="nav flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="businesses">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Businesses
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="business_types">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Business Types
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="package_types">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Package Types
			</NavLink>
		</div>
		<AuthorizeView>
		<Authorized>
		<div class="nav-item px-3">
			<Button class="nav-link" @onclick="LogOut" >
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Log Out
			</Button>
		</div>
		</Authorized>
		</AuthorizeView>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
	private async void LogOut() 
	{
		await http.PostAsync("api/auth/logout", null);
		nav.NavigateTo("/login");

	}
}
