@page "/restaurants"
@inject HttpClient Http

<PageTitle>Restaurante</PageTitle>

<h1>Restaurante</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (restaurants == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<CardGroup>
		@foreach (var restaurant in restaurants)
		{
		<Card Style="18rem;">
			<CardBody>
				<Image Src=@restaurant.Thumbnail IsThumbnail="true" />
				<CardTitle>@restaurant.Name</CardTitle>
				<CardText>@restaurant.Summary</CardText>
				<Button Color="ButtonColor.Primary"> Placeholder </Button>
				<CardFooter>
					<small class="text-muted">Last Updated: @restaurant.LastUpdated.ToShortDateString()</small>
				</CardFooter>
			</CardBody>
		</Card>
			}
	</CardGroup>
}
	
@code {
	private Restaurant[]? restaurants;

	protected override async Task OnInitializedAsync()
	{
		restaurants = await Http.GetFromJsonAsync<Restaurant[]>("sample-data/restaurants.json");
	}

	public class Restaurant
	{
		public DateTime LastUpdated { get; set; }

		public string? Name { get; set; }

		public string? Summary { get; set; }

		public string? Thumbnail { get; set; }
	}
}
